/* styles.css */

.custom-btn {
    background-color: #007BFF;
    color: #fff;
    border: 1px solid #007BFF;
    border-radius: 8px; /* Bordes redondeados más suaves */
    padding: 8px 18px; /* Relleno aumentado */
    font-size: 16px; /* Tamaño de texto aumentado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra un poco más pronunciada al pasar el ratón */
}

div.dataTables_wrapper div.dataTables_length {
    margin-left: 50px; /* Mueve el show entries del datatable a la derecha en la cantidad deseada*/
}

.main-content {
    padding-top: 50px; /* Es lo unico que funcionó para agregar margen entre nav bar y contenido de la pagina al
     usar fixed-top en la nav bar*/
}

.custom-table-container {
            margin-left: 80px; /* Ajusta según tu necesidad */
            margin-right: 80px; /* Ajusta según tu necesidad */
        }

.custom-btn-primary {
    background-color: #007bff;
    color: #fff;
}

