{% extends 'base.html' %}
{% load static %}

{% block cambio %}


    <title>Detalles del Expediente</title>
    <style>
        .numero-expediente {
            font-size: 1.2rem; /* Tamaño de fuente más grande */
            font-weight: bold; /* Texto en negrita */
        }

        .custom-dark-blue {
            background-color: #3063a6;
            border-color: #3063a6;
            color: white;
        }

        .card-body {
            margin-top: -50px; /* Ajusta este valor según tus necesidades */
        }

        .btn-primary {
            position: relative;
            top: 30px; /* Ajusta este valor según tus necesidades */
        }


        /* Estilo personalizado para el tooltip */
        .tooltip > .tooltip-inner {
            background-color: #692CE4; /* Color de fondo personalizado */
            color: #ffffff; /* Color del texto personalizado */
            font-size: 13px; /* Tamaño de fuente */
            border-radius: 6px; /* Borde redondeado */
            padding: 15px; /* Espaciado interno */
        }

        .tooltip > .tooltip-arrow {
            border-color: #692CE4 transparent transparent transparent; /* Color de la flecha personalizado */
        }

    </style>


    <div class="container mt-4">
        <div class="card">
            <div class="card-header custom-dark-blue text-white">
                <h2 class="mb-0">Detalles del Expediente</h2>

            </div>
            <div class="card-body">
                <dl class="row ">
                    <div class="col-sm-12 ">
                        <div class="d-flex justify-content-end mt-3">
                            {% if ultimo_pase %}
                                <a href="{% url 'pase_expediente' pk=expediente.pk %}"
                                   class="btn btn-primary custom-tooltip" data-bs-toggle="tooltip" data-placement="top"
                                   data-bs-html="true"
                                   title="Fecha último pase: {{ ultimo_pase.fecha_pase|date:"d/m/Y" }}<br> De: {{ ultimo_pase.area_origen }}<br> A: {{ ultimo_pase.area_receptora }}">
                                    Pases del Expediente <span class="badge text-bg-secondary">{{ numero_pases }}</span>
                                </a>
                            {% else %}
                                <a href="{% url 'pase_expediente' pk=expediente.pk %}"
                                   class="btn btn-primary custom-tooltip" data-bs-toggle="tooltip" data-placement="top"
                                   data-bs-html="true" title="Este expediente no tiene pases">
                                    Pases del Expediente <span class="badge text-bg-secondary">{{ 0 }}</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <dt class="col-sm-3 mb-2 font-weight-bold numero-expediente">Número de Expediente:</dt>
                    <dd class="col-sm-9 mb-2 font-weight-bold numero-expediente">{{ expediente.nro_exp|stringformat:"03d" }}-{{ expediente.iniciador.sigla }}-{{ expediente.fecha|date:"Y" }}</dd>

                    <dt class="col-sm-3 mb-2">Fecha de creación:</dt>
                    <dd class="col-sm-9 mb-2">{{ expediente.fecha|date:"d/m/Y" }}</dd>

                    <dt class="col-sm-3 mb-2">Iniciador:</dt>
                    <dd class="col-sm-9 mb-2">{{ expediente.iniciador }}</dd>

                    <dt class="col-sm-3 mb-2">Objeto:</dt>
                    <dd class="col-sm-9 mb-2">{{ expediente.objeto }}</dd>

                    <dt class="col-sm-3 mb-2">Área de creación:</dt>
                    <dd class="col-sm-9 mb-2">{{ expediente.area_creacion }}</dd>

                    <dt class="col-sm-3 mb-2">Ubicación actual:</dt>
                    {% if ultimo_pase %}
                        <dd class="col-sm-9 mb-2">{{ ultimo_pase.area_receptora|default:" " }}</dd>
                    {% else %}
                        <dd class="col-sm-9 mb-2">{{ area_creacion|default:" " }}</dd>
                    {% endif %}

                    <dt class="col-sm-3 mb-2">N° Resolución Rectorado:</dt>
                    <dd class="col-sm-9 mb-2">{{ expediente.nro_resol_rectorado|default:" " }}</dd>

                    <dt class="col-sm-3 mb-2">N° Consejo Superior:</dt>
                    <dd class="col-sm-9 mb-2">{{ expediente.nro_resol_CS|default:" " }}</dd>

                    <dt class="col-sm-3 mb-2">Observaciones:</dt>
                    <dd class="col-sm-9 mb-2">{{ expediente.observaciones|default:" " }}</dd>

                </dl>
            </div>
        </div>
        <div class="mt-4">
            <a href="{% url 'index_prueba' %}" class="btn btn-secondary">
                Volver
            </a>
        </div>
    </div>


    <script>
        // Inicializar tooltips al cargar la página
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

{% endblock %}
