{% extends 'base.html' %}

{% block cambio %}

    <div class="row">
        <div class="col-md-6" style="margin-left: 50px;">

            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-4">Historial de pases del Expediente N° {{ expedientesprueba.nro_exp|stringformat:"03d" }}-{{ expedientesprueba.iniciador.sigla }}-{{ expedientesprueba.fecha|date:"Y" }} <a href="{% url 'detalle_expediente' pk=expedientesprueba.pk %}" class="btn btn-warning" style="margin-left: 40px; font-weight: bold;">
                    Ir a detalles del expediente
                </a></h4>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="margin-left: 50px;">
            {% if not pases %}
                <p class="mb-4">No hay pases para este expediente</p>
            {% else %}
                {% for pase in pases %}
                    <div class="card mb-3 {% if forloop.first %}tarjeta_destacada{% endif %}">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2  {% if forloop.first %}negrita{% endif %}">
                                Área receptora: {{ pase.area_receptora}}
                            </h6>
                            <p class="card-text  {% if forloop.first %}negrita{% endif %}">
                                Fecha del pase: {{ pase.fecha_pase|date:"d/m/Y H:i" }}
                            </p>
                            <!-- Otros detalles del pase que quieras mostrar -->
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
