{% extends 'base.html' %}

{% block cambio %}
    <style>
        .btn-cancelar {
            margin-left: 10px; /* Ajusta este valor según tu preferencia */
        }

        .readonly,
        .readonly:active,
        .readonly:focus {
            background-color: #e9ecef !important; /* Color gris más claro */
            outline: none;
        }


    </style>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center mb-4">Agrega un Pase</h1>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.fecha_pase.id_for_label }}">Fecha de Pase</label>
                                {{ form.fecha_pase }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.nro_exp.id_for_label }}">Número de Expediente</label>
                                {{ form.nro_exp }}
                                <input type="text" id="id_nro_exp_display" readonly class="form-control readonly">
                                <input type="hidden" id="id_nro_exp_hidden" name="nro_exp">
                            </div>
                            <div class="form-group">
                                <label for="{{ form.area_origen.id_for_label }}">Área de Origen</label>
                                {{ form.area_origen }}
                                <input type="text" id="id_area_origen_display" readonly class="form-control readonly">
                                <input type="hidden" id="id_area_origen_hidden" name="area_origen">
                            </div>
                            <div class="form-group">
                                <label for="{{ form.area_receptora.id_for_label }}">Área Receptora</label>
                                {{ form.area_receptora }}
                                {% if form.area_receptora.errors %}
                                    {% for error in form.area_receptora.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    {% if "El área de origen y la receptora no pueden ser iguales." in error %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary">Realizar pase</button>
                                <a href="{% url 'index_prueba' %}" class="btn btn-danger btn-cancelar custom-dark-red">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var nroExpField = document.getElementById("id_nro_exp");
            var nroExpFieldDisplay = document.getElementById("id_nro_exp_display");
            var nroExpFieldHidden = document.getElementById("id_nro_exp_hidden");

            if (nroExpField && nroExpFieldDisplay && nroExpFieldHidden) {
                nroExpField.style.display = 'none';
                nroExpFieldDisplay.value = nroExpField.options[nroExpField.selectedIndex].text;
                nroExpFieldHidden.value = nroExpField.value;
            }

            var areaOrigenField = document.getElementById("id_area_origen");
            var areaOrigenFieldDisplay = document.getElementById("id_area_origen_display");
            var areaOrigenFieldHidden = document.getElementById("id_area_origen_hidden");

            if (areaOrigenField && areaOrigenFieldDisplay && areaOrigenFieldHidden) {
                areaOrigenField.style.display = 'none';
                areaOrigenFieldDisplay.value = areaOrigenField.options[areaOrigenField.selectedIndex].text;
                areaOrigenFieldHidden.value = areaOrigenField.value;
            }
        });
    </script>
{% endblock %}